
    ul.dropdown-menu > li > a.dropdown-item:hover {
        background-color: #F66301 !important;
        color: white !important;
    }
.nav-link.active,
.dropdown-item.active {
    background-color: black !important;
    color: white !important;
}
