<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Conoce a Nuestro Equipo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
      <link rel="stylesheet" th:href="@{/css/home.css}">
     <link rel="stylesheet" th:href="@{/css/menu.css}">
      <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
  <style>
    .icon-user {
      font-size: 60px;
      color: #F66301;
    }
  </style>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="pattern/cabecera :: cabecera"></div>
	
<div  class="container py-4 flex-grow-1">
  <div class="text-center mb-5">
    <h2 class="fw-bold">Conoce a Nuestro Equipo</h2>
    <p class="text-muted">Personas comprometidas y apasionadas por ofrecerte las mejores experiencias y servicios.</p>
  </div>

 <div class="row g-4 justify-content-center">

  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card h-100 text-center shadow-sm border-1 p-3">
      <img src="/img/BriyitMelanyCapcha.png"
           class="img-fluid rounded-circle d-block mx-auto mb-3"
           alt="Briyit Melany"
           style="width: 100px; height: 100px; object-fit: cover;">
      <h5 class="fw-bold">Capcha Martines Briyit Melany</h5>
      <p class=" mb-1" style="color: #339A1C;">Desarrolladora Frontend: Thymeleaf, Bootstrap y JasperStudio.</p>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card h-100 text-center shadow-sm border-1 p-3">
      <img src="/img/SaraEnriquezLimahuaya.png"
           class="img-fluid rounded-circle d-block mx-auto mb-3"
           alt="Sara Enriquez"
           style="width: 100px; height: 100px; object-fit: cover;">
      <h5 class="fw-bold">Enriquez Limahuaya Sara</h5>
      <p class=" mb-1" style="color: #339A1C;">Desarrolladora Frontend: Bootstrap, Thymeleaf y reportes.</p>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card h-100 text-center shadow-sm border-1 p-3">
      <img src="/img/JosehpFernando.png"
           class="img-fluid rounded-circle d-block mx-auto mb-3"
           alt="Josehp Fernando"
           style="width: 100px; height: 100px; object-fit: cover;">
      <h5 class="fw-bold">Garcia Carrillo Josehp Fernando</h5>
      <p class=" mb-1" style="color: #339A1C;">Desarrollador Frontend: Bootstrap, Thymeleaf y JasperStudio.</p>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card h-100 text-center shadow-sm border-1 p-3">
      <img src="/img/DanielaZarikHuaman.jpeg"
           class="img-fluid rounded-circle d-block mx-auto mb-3"
           alt="Zarik Daniela"
           style="width: 100px; height: 100px; object-fit: cover;">
      <h5 class="fw-bold">Huaman Rojas Zarik Daniela</h5>
      <p class=" mb-1" style="color: #339A1C;">Desarrolladora Backend: Java, Spring Boot y generación de reportes.</p>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card h-100 text-center shadow-sm border-1 p-3">
      <img src="/img/_x6.jpg"
           class="img-fluid rounded-circle d-block mx-auto mb-3"
           alt="Jhon Maycol"
           style="width: 100px; height: 100px; object-fit: cover;">
      <h5 class="fw-bold">Huincho Chavez Jhon Maycol</h5>
     <p class=" mb-1" style="color: #339A1C;">Desarrollador Backend: Java, Spring Boot y arquitectura de servicios.</p>
    </div>
  </div>
</div>

</div>
<div th:replace="/pattern/footer:: Footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
